<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Diary App</title>
    <!--<link rel="stylesheet" href="Angular/libraries/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/
    <!--Подключение локального css-->
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>

    <!--   New Bootstrap Grid -->
    <div class="container" ng-controller="myCtrl">
        <div class="row">
            <div class="col-md-6">
                <div class="border">
                    <h3 class="text-center">Items</h3>
                    <!--  Добавление кнопки Добавить-->
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" ng-model="addMe" placeholder="Add note" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button ng-click="addItem()" class="btn btn-success" type="button" id="button-addon2">Add</button>
                        </div>
                    </div>
                    <p class="text-danger">{{errortext}}</p>
                    <ul class="list-group list-group-flush">
                        <li ng-repeat="item in products" class="list-group-item" id="noteList" ng-click="addingCommentSection($index);">
                            <div>
                                <em>{{item.name}}</em>
                                <span class="badge badge-primary badge-pill" ng-bind="item.comments.length"></span>
                                <button class="btn btn-danger pull-right" ng-click="removeItem($index)" style="float:right;" class="text-align:right;">
                                    Delete
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Начало Div  справа   -->
            <div class="col-md-6" ng-show="flag">
                <div class="border">
                    <h3 class="text-center">Comments # {{noteIndex + 1}}</h3>
                    <br>
                    <div class="col-md-12">
                        <div class="input-group-prepend" ng-repeat="item in products[noteIndex].comments">
                            <span class="input-group-text text" id="inputGroup-sizing-default"> . . .</span>
                            <div style="overflow-x:hidden;" class="form-control">{{item}}</div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="col-sm-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text text" id="inputGroup-sizing-default"> . . .</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" ng-model="comment" enter-submit="sendMessage()"
                                aria-describedby="inputGroup-sizing-default" placeholder="Leave comment here.. Press CTRL+ ENTER">
                        </div>
                    </div>
                    <p class="text-danger">{{errorComments}}</p>
                    <br>
                </div>
            </div>
            <!--  Конец Div справа  -->
        </div>
    </div>

<!--     <script src="Angular/libraries/angular.min.js"></script> -->
    <script src="Angular/js/moduleApp.js"></script>
</body>

</html>
